openapi: 3.2.0
info:
  title: Brave Search News API
  description: 'Real-time web search results from Brave''s independent index of over 30 billion pages with 100 million daily updates. Provides web, image, video, news, suggestions, and spellcheck endpoints with schema-enriched data optimized for AI and LLM integrations. Includes custom reranking via Goggles and citation- grounded Answers completions compatible with the OpenAI SDK.

    '
  version: 1.0.0
  contact:
    name: Brave Software
    url: https://brave.com
  termsOfService: https://brave.com/terms-of-use/
  license:
    name: Brave Search API Terms
    url: https://brave.com/terms-of-use/
servers:
- url: https://api.search.brave.com/res/v1
  description: Brave Search API
security:
- ApiKeyAuth: []
tags:
- name: news
  description: News search endpoints
paths:
  /news/search:
    get:
      operationId: newsSearch
      summary: News Search
      description: Search for news articles from the Brave independent index.
      tags:
      - news
      parameters:
      - name: q
        in: query
        required: true
        description: News search query string.
        schema:
          type: string
          example: artificial intelligence
      - name: country
        in: query
        required: false
        description: 2-character country code for geographic targeting.
        schema:
          type: string
          example: US
      - name: search_lang
        in: query
        required: false
        description: ISO 639-1 language code for content language.
        schema:
          type: string
          example: en
      - name: count
        in: query
        required: false
        description: Number of results per page. Max 50, default 20.
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: offset
        in: query
        required: false
        description: Pagination offset (0-based). Maximum is 9.
        schema:
          type: integer
          minimum: 0
          maximum: 9
          default: 0
      - name: safesearch
        in: query
        required: false
        description: Content filtering level.
        schema:
          type: string
          enum:
          - false
          - moderate
          - strict
          default: moderate
      - name: freshness
        in: query
        required: false
        description: Date freshness filter (pd, pw, pm, py, or custom range).
        schema:
          type: string
          example: pd
      - name: extra_snippets
        in: query
        required: false
        description: When true, returns up to 5 additional text excerpts per article.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful news search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    BadRequest:
      description: Bad request — missing or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden — API key does not have access to this endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized — missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    NewsSearchResponse:
      type: object
      description: Response from the news search endpoint.
      properties:
        type:
          type: string
          example: news
        query:
          $ref: '#/components/schemas/QueryInfo'
        results:
          type: array
          items:
            $ref: '#/components/schemas/NewsResult'
    QueryInfo:
      type: object
      description: Information about the search query.
      properties:
        original:
          type: string
          description: The original search query as submitted.
        more_results_available:
          type: boolean
          description: Indicates whether additional result pages are available.
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Human-readable error message.
    NewsResult:
      type: object
      description: A single news search result.
      properties:
        title:
          type: string
          description: Headline of the news article.
        url:
          type: string
          format: uri
          description: URL to the news article.
        description:
          type: string
          description: Summary snippet of the article.
        extra_snippets:
          type: array
          description: Up to 5 additional excerpts (when extra_snippets is enabled).
          items:
            type: string
        age:
          type: string
          description: Relative publication age (e.g. 2 hours ago).
        source:
          type: string
          description: Name of the news publisher.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Subscription-Token
      description: 'API key obtained from the Brave Search API dashboard at https://api-dashboard.search.brave.com

        '
externalDocs:
  description: Brave Search API Documentation
  url: https://api-dashboard.search.brave.com/app/documentation/web-search/get-started
