openapi: 3.2.0
info:
  title: Brave Search Spellcheck API
  description: 'Real-time web search results from Brave''s independent index of over 30 billion pages with 100 million daily updates. Provides web, image, video, news, suggestions, and spellcheck endpoints with schema-enriched data optimized for AI and LLM integrations. Includes custom reranking via Goggles and citation- grounded Answers completions compatible with the OpenAI SDK.

    '
  version: 1.0.0
  contact:
    name: Brave Software
    url: https://brave.com
  termsOfService: https://brave.com/terms-of-use/
  license:
    name: Brave Search API Terms
    url: https://brave.com/terms-of-use/
servers:
- url: https://api.search.brave.com/res/v1
  description: Brave Search API
security:
- ApiKeyAuth: []
tags:
- name: spellcheck
  description: Spellcheck endpoints
paths:
  /spellcheck/search:
    get:
      operationId: spellcheck
      summary: Spellcheck
      description: 'Analyze a query for spelling errors and return suggested corrections. An empty results array indicates no corrections are needed.

        '
      tags:
      - spellcheck
      parameters:
      - name: q
        in: query
        required: true
        description: The search query to check for spelling errors.
        schema:
          type: string
          example: machien leraning
      - name: country
        in: query
        required: false
        description: Country code for locale-specific spelling corrections.
        schema:
          type: string
          example: US
      responses:
        '200':
          description: Successful spellcheck response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpellcheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    BadRequest:
      description: Bad request — missing or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden — API key does not have access to this endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized — missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    QueryInfo:
      type: object
      description: Information about the search query.
      properties:
        original:
          type: string
          description: The original search query as submitted.
        more_results_available:
          type: boolean
          description: Indicates whether additional result pages are available.
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Human-readable error message.
    SpellcheckResponse:
      type: object
      description: Response from the spellcheck endpoint.
      properties:
        type:
          type: string
          example: spellcheck
        query:
          $ref: '#/components/schemas/QueryInfo'
        results:
          type: array
          description: 'Array of spelling correction suggestions. Empty array means no corrections needed.

            '
          items:
            type: object
            properties:
              query:
                type: string
                description: Corrected query string.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Subscription-Token
      description: 'API key obtained from the Brave Search API dashboard at https://api-dashboard.search.brave.com

        '
externalDocs:
  description: Brave Search API Documentation
  url: https://api-dashboard.search.brave.com/app/documentation/web-search/get-started
