openapi: 3.2.0
info:
  title: Brave Search Videos API
  description: 'Real-time web search results from Brave''s independent index of over 30 billion pages with 100 million daily updates. Provides web, image, video, news, suggestions, and spellcheck endpoints with schema-enriched data optimized for AI and LLM integrations. Includes custom reranking via Goggles and citation- grounded Answers completions compatible with the OpenAI SDK.

    '
  version: 1.0.0
  contact:
    name: Brave Software
    url: https://brave.com
  termsOfService: https://brave.com/terms-of-use/
  license:
    name: Brave Search API Terms
    url: https://brave.com/terms-of-use/
servers:
- url: https://api.search.brave.com/res/v1
  description: Brave Search API
security:
- ApiKeyAuth: []
tags:
- name: videos
  description: Video search endpoints
paths:
  /videos/search:
    get:
      operationId: videoSearch
      summary: Video Search
      description: Search for videos from the Brave independent index.
      tags:
      - videos
      parameters:
      - name: q
        in: query
        required: true
        description: Video search query string.
        schema:
          type: string
          example: machine learning tutorial
      - name: country
        in: query
        required: false
        description: 2-character country code for geographic targeting.
        schema:
          type: string
          example: US
      - name: search_lang
        in: query
        required: false
        description: ISO 639-1 language code for content language.
        schema:
          type: string
          example: en
      - name: count
        in: query
        required: false
        description: Number of results per page. Max 50, default 20.
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: offset
        in: query
        required: false
        description: Pagination offset (0-based). Maximum is 9.
        schema:
          type: integer
          minimum: 0
          maximum: 9
          default: 0
      - name: safesearch
        in: query
        required: false
        description: Content filtering level.
        schema:
          type: string
          enum:
          - false
          - moderate
          - strict
          default: moderate
      - name: freshness
        in: query
        required: false
        description: Date freshness filter (pd, pw, pm, py, or custom range).
        schema:
          type: string
          example: pw
      - name: spellcheck
        in: query
        required: false
        description: Enable autocorrection. Default true.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Successful video search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    BadRequest:
      description: Bad request — missing or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden — API key does not have access to this endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized — missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    QueryInfo:
      type: object
      description: Information about the search query.
      properties:
        original:
          type: string
          description: The original search query as submitted.
        more_results_available:
          type: boolean
          description: Indicates whether additional result pages are available.
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Human-readable error message.
    VideoSearchResponse:
      type: object
      description: Response from the video search endpoint.
      properties:
        type:
          type: string
          example: videos
        query:
          $ref: '#/components/schemas/QueryInfo'
        results:
          type: array
          items:
            $ref: '#/components/schemas/VideoResult'
    VideoResult:
      type: object
      description: A single video search result.
      properties:
        title:
          type: string
          description: Title of the video.
        url:
          type: string
          format: uri
          description: URL to the video page.
        description:
          type: string
          description: Description of the video content.
        thumbnail:
          type: object
          properties:
            url:
              type: string
              format: uri
              description: URL to video thumbnail image.
        duration:
          type: string
          description: Duration of the video.
        publisher:
          type: string
          description: Publisher or channel name.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Subscription-Token
      description: 'API key obtained from the Brave Search API dashboard at https://api-dashboard.search.brave.com

        '
externalDocs:
  description: Brave Search API Documentation
  url: https://api-dashboard.search.brave.com/app/documentation/web-search/get-started
